@media (min-width: 957px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body{ 
        background-color: #533763;
        background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23704b84' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    }
    
    html {
        scroll-behavior: smooth;
    }
     
    
    nav{  
        margin: 1vh 0 0 4.5vw;
        font-family: 'Andika New Basic', sans-serif;   
    }
     
    #name{ 
        margin-top: 0.7rem;
        float: left;
        font-size: 1.0rem;  
        color: white;
    }
    
    #menu{
        float: right;  
    }
    
    .menuoptionsli{
        display: inline-block; 
        margin-left: 5.1vw;  
        color: white;
        font-size: 0.8rem; 
        margin-top: 3vh;
        padding: 0.2rem 0.4rem 0.2rem 0.4rem; 
        background-color: transparent;
        border-radius: 2rem;
        transition: 0.3s;
    }
    
    .menuoptionsli:hover{
        background-color: #221729;
        -moz-outline-radius: 2rem; 
        padding: 0.2rem 0.4rem 0.2rem 0.4rem; 
        border-radius: 2rem;
    }
    
    .menuoptionsa{
        text-decoration: none;
    }
    
    #section1{     
        background-color:transparent;
        margin: 0rem 4rem 0rem 4rem;
        height: 120vh;
    }
    
    
    #svg2 {
        position: absolute;
        left: 0;
        top: 0rem; 
        z-index: -1; 
       
    }  
    
    
    #intro{
        float: left; 
        font-family: 'Andika New Basic', sans-serif; 
        margin-left: 3vw;
        margin-top: 9.5rem; 
        width: fit-content;
        font-size: 1.2rem;   
    } 
    
    .introtext{
        margin-top: 2.5rem; 
        color: white;
    }
    
    .button{ 
        text-decoration: none;  
        position: relative;
        margin-right: 1rem; 
        padding: 0.5rem 1rem 0.5rem 1rem;
        border-radius: 10rem;
        border: solid #2a1c33 1px;
        color: white; 
        background-color: #2a1c33;
        transition: 0.3s; 
    }
    
    
    .button:hover{ 
        border: solid #221729 1px;
        color: white; 
        background-color: #221729;
    }
    
    #pbutton{
        margin-top: 2.5rem;
    }
    
    #cartoon{
        height: 30rem;  
        width: 30rem;
        float: right;
        margin: 7vh 0 0 0; 
    }
    
    
    #section2{  
        background-color: transparent;    
    }
    
    #profile{
        width: 20rem; 
        height: 25rem;
        position: absolute;
        top: 80rem;
        left: 37vw;
    }
    
    #abouttext{   
        font-family: 'Andika New Basic', sans-serif;
        font-size: 1rem; 
        color: white;
        text-align: center;    
        background-color:white; 
        padding: 0 5rem 3rem 5rem; 
        color: #533763;
    }
    
    
    #abouttitle{ 
        font-family: 'Andika New Basic', sans-serif;
        text-align: center;
        font-size: 2rem;
        color: #533763;
        padding-top: 8rem;
        padding-bottom: 2rem;
        background-color: white;
    }
    
    
    #section3{  
        font-family: 'Andika New Basic', sans-serif; 
        background-color: white;  
        text-align: center;
        padding-bottom: 2rem; 
    }
    
    #projectssvg{
        width: 20rem; 
        height: 26rem;
        position: absolute; 
        left: 38vw; 
    }
    
    #section3title { 
        font-family: 'Andika New Basic', sans-serif;
        text-align: center;
        font-size: 2rem;
        color: #533763;
        padding-top: 8rem;
        padding-bottom: 4rem;
        background-color: white;
    } 
    
    #projectsmenu{
        list-style-type: none;
        border:solid #533763 1px; 
        border-radius: 2rem; 
        width: 26rem;
        padding: 0.6rem 0 0.6rem 0;
        margin:  0 auto 4rem auto;
        
    } 
    
    .projectsmenuitems{ 
        padding: 0.5rem 1rem 0.5rem 1rem;
        display: inline;
        background-color: transparent;
        border-radius: 0.5rem;
        color: #533763; 
        transition: 0.3s;
    }
    
    .projectsmenuitems:hover{  
        background-color: #533763; 
        cursor: pointer;
        color: white; 
        border-radius: 2rem;
    }
    
    .projectsmenuitems a{
        text-decoration: none;
        color: black;
    } 

    #maintext{
        display: none;
    }

    .main-button{
        padding: 0.25rem 0.75rem; 
        margin: 0.5rem 0rem 1rem 1rem; 
        background-color: #533763; 
        border: solid #533763 1px; 
        border-radius: 1vh; 
        color: white; 
        cursor: pointer; 
        text-decoration: none;
        display: inline-block;
        transition: 0.4s;
    }

    .main-button:hover{
        background-color: white;
        color: #533763;
        border: solid #533763 1px; 
    }

    .main-container{
        max-height: fit-content;
        max-width: 80%;
        display: grid;
        grid-template-columns: 29rem 2fr;
        margin: 2rem auto;  
    }

    .info-container{ 
        vertical-align: top;
        text-align: left; 
        height: 100%; 
        margin-left: 1.5vw;
    }

    .main-title{
        color: #533763;
    }

    .main-paragraph, .main-title, .main-tt{
        margin-left: 1rem;
        max-width: 100%;
    }

    .main-paragraph, .main-tt{
        color: rgb(122, 122, 122);
    } 
    
    
    .main{ 
        background-image: url('media/todolist.gif');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        font-family: 'Andika New Basic', sans-serif;
        font-size: 0.7rem;
        color: transparent;
        border-radius: 0.7rem; 
        height: 15rem; 
        transition: 0.4s;
        box-shadow: 0 0 15px 0 rgba(0,0,0, 0.4);   
        margin: auto 0rem; 
    }   
    
    #main2{ 
        background-image: url('media/cvp.gif');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: transparent;
    } 
    
    #main3{ 
        background-image: url('media/coffee.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: transparent;
    } 
    
    #main4{ 
        background-image: url('media/portfolio.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: transparent;
    } 
    
    #main5{ 
        background-image: url('media/abox.gif');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: transparent;
    } 
    
   
   #main6{ 
        background-image: url('media/react.gif');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: transparent;
    }
   
   
    #section4{ 
        background-color: #533763;  
        height: 700px;
    }
    
    #skilltitle{
        font-size: 2rem; 
        text-align: center; 
        font-family: 'Andika New Basic', sans-serif;
        color: white; 
        padding: 4rem 0 4rem 0;
    }
     
    
    #skilllist{ 
        display: flex;    
        justify-content: center;
        align-items: center;
        text-align: center;    
        padding: 0 2rem 2rem 2rem; 
        background-color: transparent;
    }

    #skilllist2{ 
        display: flex;    
        justify-content: center;
        align-items: center;
        text-align: center;    
        padding: 70px 2rem 2rem 2rem; 
        background-color: transparent;
    }
    
    .skillitems{ 
        list-style-type: none;
        text-align: center; 
        margin: auto; 
        font-size: 5rem;
        color: white; 
    }
    
    .skillitemscaption{ 
        color: white; 
        font-size: 0.8rem !important;
    } 
    
    #section5{ 
        background-color: #533763; 
        display: flex;
        flex-direction: column;
        justify-content: center; 
    }
    
    #section5title{
        margin-top: 3rem;
        font-size: 2rem; 
        text-align: center; 
        font-family: 'Andika New Basic', sans-serif;
        color: white;
    
    }
    
    #contactformcontainer{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: 'Andika New Basic', sans-serif;
    }
    
    #namebox,#messagebox,#emailbox{
        border: solid white 3px;
        background-color: #533763;
        border-radius: 0.4rem; 
        margin: 0.5rem;
        color: white;
    }
    
    #messagebox{
        display: block;
        width: 27.5rem;
        height: 10rem;
    }
    
    #submit{
        border: solid #2a1c33 2px;
        background-color: #2a1c33;
        color: white;
        padding: 0.5rem 1rem 0.5rem 1rem;
        border-radius: 10rem;
        cursor: pointer;
        margin-top: 0.5rem;
    }
    
    #email{
        text-align: center;
        font-family: 'Andika New Basic', sans-serif;
        margin-top: 1rem;
    } 
    
    footer{
        background-color: white;
        height: 3rem; 
        font-family: 'Andika New Basic', sans-serif;
        color: #533763;  
        display: flex;
        justify-content: center;
        align-items: center;
    }  
    
}























@media(max-width: 957px){

    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body{ 
        
    }
    
    html {
        scroll-behavior: smooth;
    }
     
    
    nav{   
        font-family: 'Andika New Basic', sans-serif;   
    }
    
    #menu{  
        text-align: center;
    }
    
    .menuoptionsli{
        display: inline-block;  
        color: white;
        font-size: 0.8rem; 
        margin-top: 3vh; 
        background-color: transparent;
        border-radius: 2rem;
        transition: 0.3s;
        padding: 0.2rem 0.4rem 0.2rem 0.4rem; 
    }

    #menuoptionsli2{
       margin-left: 10vw;
       margin-right: 10vw;
    }

    #menuoptionsli3{
        margin-right: 10vw; 
     }
    
    .menuoptionsli:hover{
        background-color: #221729;
        -moz-outline-radius: 2rem; 
        padding: 0.2rem 0.4rem 0.2rem 0.4rem; 
        border-radius: 2rem;
    }
    
    .menuoptionsa{
        text-decoration: none;
    }
    
    #section1{     
        background-color:transparent; 
        height: 100vh;
    }

    #intro-container{
        display: flex; 
        justify-content: center;
        align-items: center;
        height: 80%;
        width: 100%;
    }
    
    
    #intro{ 
        font-family: 'Andika New Basic', sans-serif;    
        text-align: center;
        width: 100%;
    } 
    
    .introtext{ 
        color: white;
        display: block;
        padding: 1rem;
    }
    
    .button{ 
        text-decoration: none;    
        border-radius: 10rem;
        border: solid #2a1c33 1px;
        padding: 0.5rem 1rem 0.5rem 1rem;
        color: white; 
        background-color: #2a1c33;
        transition: 0.3s; 
    }
    
    
    .button:hover{ 
        border: solid #221729 1px;
        color: white; 
        background-color: #221729;
    }
    
    #pbutton{
        margin-top: 2.5rem; 
    }
    
    #cartoon{
        height: 30rem;  
        width: 30rem;
        float: right;
        margin: 5vh 0 0 0; 
        display: none;
    }
    
    
    #section2{  
        background-color: transparent;    
    }
    
    #profile{
        width: 20rem; 
        height: 20rem;
        position: absolute; 
        left: 30vw;
        display: none;
    }
    
    #abouttext{   
        font-family: 'Andika New Basic', sans-serif;
        font-size: 1rem; 
        color: white;   
        background-color:white; 
        text-align: center;
        padding: 0 3.5rem 3rem 3.5rem; 
        color: #533763;
        border: none;
        outline: none;
    }
    
    
    #abouttitle{ 
        font-family: 'Andika New Basic', sans-serif;
        text-align: center;
        font-size: 2rem;
        color: #533763;
        padding-top: 2rem;
        padding-bottom: 2rem;
        background-color: white;
    }
    
    
    #section3{  
        font-family: 'Andika New Basic', sans-serif; 
        background-color: white;  
        text-align: center;
        padding-bottom: 2rem; 
    }
    
    #projectssvg{
        width: 20rem; 
        height: 20rem;
        position: absolute; 
        left: 32vw;
        display: none;
    }
    
    #section3title { 
        font-family: 'Andika New Basic', sans-serif;
        text-align: center;
        font-size: 2rem;
        color: #533763;
        padding-top: 2rem;
        padding-bottom: 3rem;
        background-color: white;
    } 
    
    #projectsmenu{
        list-style-type: none;
        border:solid #533763 1px; 
        border-radius: 2rem; 
        font-size: 2vw;
        width: 90vw;
        padding: 0.6rem 0 0.6rem 0;
        margin:  0 auto 4rem auto;
        
    } 
    
    .projectsmenuitems{ 
        padding: 0.5rem 1rem 0.5rem 1rem;
        display: inline;
        background-color: transparent;
        border-radius: 0.5rem;
        color: #533763; 
        transition: 0.3s;
        width: fit-content;
    }
    
    .projectsmenuitems:hover{  
        background-color: #533763; 
        cursor: pointer;
        color: white; 
        border-radius: 2rem;
    }
    
    .projectsmenuitems a{
        text-decoration: none;
        color: black;
    } 
    .main-button{
        padding: 0.25rem 0.75rem; 
        margin: 0.5rem 0rem 1rem 0rem; 
        background-color: #533763; 
        border: solid #533763 1px; 
        border-radius: 1vh; 
        color: white; 
        cursor: pointer; 
        text-decoration: none;
        display: inline-block;
    }

    .main-button:hover{
        background-color: white;
        color: #533763;
        border: solid #533763 1px; 
    }

    .main-container{
        max-height: fit-content;
        max-width: fit-content;
        display: block;
        margin: auto;  
        text-align: center;
        padding-top: 5rem;
    }

    #main-container1{
        padding-top: 0;
    }

    .info-container{   
        height: 100%;  
        display: block;
    }

    .main-title{
        color: #533763;
    }

    .main-paragraph, .main-title, .main-tt{ 
        max-width: 100%;
        margin: 0rem 1.5rem 0rem 1.5rem;
    }

    .main-paragraph, .main-tt{
        color: rgb(122, 122, 122);
    } 
    
    
    .main{ 
        background-image: url('media/todolist.gif');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        font-family: 'Andika New Basic', sans-serif;
        font-size: 0.7rem;
        color: transparent;
        border-radius: 0.7rem; 
        height: 10rem; 
        width: 20rem;
        transition: 0.4s;
        box-shadow: 0 0 15px 0 rgba(0,0,0, 0.4);   
        margin: 1rem auto;
        display: block; 
    }  
    #maintext{
        display: none;
    } 
    
    #main2{ 
        background-image: url('media/cvp.gif');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: transparent;
    } 
    
    #main3{ 
        background-image: url('media/coffee.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: transparent;
    } 
    
    #main4{ 
        background-image: url('media/portfolio.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: transparent;
    } 
    
    #main5{ 
        background-image: url('media/abox.gif');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: transparent;
    } 
    
    #section4{ 
        background-color: #533763;   
        padding-bottom: 2rem;
    }
    
    #skilltitle{
        font-size: 2rem; 
        text-align: center; 
        font-family: 'Andika New Basic', sans-serif;
        color: white; 
        padding: 4rem 0 4rem 0;
    }
     
    
    #skilllist{ 
        display: flex;    
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;    
        padding: 0 2rem 0rem 2rem; 
        background-color: transparent;
    }

    #skilllist2{ 
        display: flex;    
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;    
        padding: 0 2rem 0rem 2rem; 
        background-color: transparent;
    }
    
    .skillitems{ 
        list-style-type: none;
        text-align: center; 
        margin: auto; 
        font-size: 5rem;
        color: white; 
        padding: 2rem;
    }
    
    .skillitemscaption{ 
        color: white; 
        font-size: 0.8rem !important;
    } 
    
    #section5{ 
        background-color: #533763; 
        display: flex;
        flex-direction: column;
        justify-content: center; 
    }
    
    #section5title{
        margin-top: 3rem;
        font-size: 2rem; 
        text-align: center; 
        font-family: 'Andika New Basic', sans-serif;
        color: white;
    
    }
    
    #contactformcontainer{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: 'Andika New Basic', sans-serif;
    }
    
    #namebox,#messagebox,#emailbox{
        border: solid white 3px;
        background-color: #533763;
        border-radius: 0.4rem; 
        margin: 0.5rem;
        color: white;
    }
    
    #messagebox{
        display: block;
        width: 80vw;
        height: 10rem;
    }
    
    #emailbox, #namebox{
        width: 37vw;
    }

    #submit{
        border: solid #2a1c33 2px;
        background-color: #2a1c33;
        color: white;
        padding: 0.5rem 1rem 0.5rem 1rem;
        border-radius: 10rem;
        cursor: pointer;
        margin-top: 0.5rem;
    }
    
    #email{
        text-align: center;
        font-family: 'Andika New Basic', sans-serif;
        margin-top: 1rem;
        font-size: 3vw;
    } 
    
    footer{
        background-color: white;
        height: 3rem;  
        font-family: 'Andika New Basic', sans-serif;
        color: #533763;
        display: flex;
        align-items: center;
        justify-content: center;
    }   
}
